.modal {
  :global {
    .ant-modal-body {
      max-height: 500px;
      overflow-y: scroll;
      padding: 20px 46px;
      .ant-input-number-lg {
        width: 92%;
        .ant-input-number-input {
          height: 30px;
        }
      }
    }
    // .ant-form-item-label {
    //   text-align: left;
    //   label {
    //     &:before {
    //       display: inline-block;
    //       margin-right: 4px;
    //       content: " ";
    //       font-family: SimSun;
    //       line-height: 1;
    //       font-size: 12px;
    //       color: #f04134;
    //       width: 10px;
    //     }
    //   }
    //   .ant-form-item-required:before {
    //     content: "*";
    //   }
    // }
    .ant-btn {
      &.ant_btn_plus {
        width: 40px;
        height: 40px;
        padding: 0px;
        min-width: 40px;
        border-color: #f2d5aa;
        float: right;
        :global {
          .anticon-plus {
            font-size: 16px;
            color: #c19e6e;
          }
        }
      }
    }
    // .commission-form {
    //   .ant-form-item-control {
    //     // .ant-input-number {
    //     //   flex: 1;
    //     // }
    //   }
    // }
  }
}
