.page {
    :global {
     .ant-form-item-label {
       text-align: left;
       width: 200px;
     }
     .page-content {
       padding: 30px;
     }
   }
   .operation {
     display: flex;
     align-items: center;
     .clear {
       border: none;
       height: 40px;
       display: inline-flex;
       align-items: center;
       justify-content: center;
       margin-right: 10px;
       border: 1px solid #465174;
       margin-left: 10px;
     }
     .submit {
       background-color: #465174;
       border-radius: 2px;
       border-color: #465174;
       height: 40px;
       display: inline-flex;
       align-items: center;
       justify-content: center;
       color: #fff;
       font-family: PingFangSC-Medium, sans-serif;
       font-size: 16px;
       color: #f2d5aa;
     }
   }
 }
 
 .coverTemplate {
   max-height: 500px;
   overflow-y: auto;
 }
 
 .image {
   width: 692px;
   height: 388px;
   display: block;
 //   float: left;
   margin-right: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   margin-bottom: 10px;
   img {
     // width: 100%;
     // height: 100%;
   }
   .uploaded {
     position: relative;
     width: 100%;
     height: 100%;
     // width: 90px;
     // height: 90px;
     &:hover {
       .btns {
         display: block;
       }
     }
     .btns {
       display: none;
        :global {
         .anticon-close {
           cursor: pointer;
           position: absolute;
           top: 10px;
           left: 5px;
           border-radius: 2px;
           background: rgba(0, 0, 0, .3);
           color: #D8D8D8;
           font-size: 20px;
         }
       }
     }
   }
   .upload_btn {
     background: #fbfbfb;
     border: 1px dashed #d9d9d9;
     border-radius: 2px;
     display: flex;
     align-content: center;
     justify-content: center;
     width: 692px;
     height: 388px;
     flex-direction: column;
      :global {
       .anticon {
         font-size: 24px;
       }
     }
     p {
       margin-top: 12px;
       font-family: PingFangSC-Regular, sans-serif;
       font-size: 12px;
       color: #666666;
       line-height: 18px;
       text-align: center;
     }
   }
 }
 