.product_detail {
  :global {
    .ant-calendar-picker {
      display: block;
    }
    form .ant-input-number {
      width: 90%;
    }
  }
  .profit {
     :global {
      .header {
        display: flex;
        justify-content: space-between;
        padding: 15px 0px;
        .title {
          font-family: PingFangSC-Regular, sans-serif;
          font-size: 14px;
          color: #999999;
        }
        .btns {
          .anticon-plus {
            color: #D4A667;
          }
        }
      }
      .vant-filter-bar .vant-float-bar.open {
        width: auto;
        left: 0;
        right: auto;
        background-color: #fafafa;
      }
      .ant-input-group {
        display: flex;
      }
      .ant-input-number {
        display: flex;
      }
      .ant-form-item-control {
        height: 28px !important;
        line-height: 26px !important;
        .ant-input-number {
          height: 28px;
        }
        .ant-input-lg,
        .ant-input-number-lg {
          height: 28px;
          input {
            height: 26px;
          }
        }
        .ant-select .ant-select-selection--single,
        .ant-select-lg .ant-select-selection--single,
        .ant-select .ant-select-selection__rendered,
        .ant-select-lg .ant-select-selection__rendered {
          height: 28px;
          line-height: 26px;
        }
        .ant-form-explain {
          font-size: 12px;
        }
      }
      .ant-table-thead > tr.ant-table-row-hover > td, .ant-table-tbody > tr.ant-table-row-hover > td, .ant-table-thead > tr:hover > td, .ant-table-tbody > tr:hover > td{
        background-color: transparent;
      }

      td {
        &.name,
        &.remark {
          vertical-align: top;
          padding-top: 16px !important;
        }
        &.operation{
          .ant-row.child{
            line-height: 52px;
            height: 52px;
            .action_icons{
              display: flex;
              a{
                line-height: 26px;
                padding-right: 10px;
              }
            }
          }
        }
      }
      .ant-table-thead > tr > th{
        background-color: rgba(224, 228, 232,.25);
      }
      .multipleFormTable_child {
        .child {
          .action_icons {
            display: none;
            .anticon {
              font-size: 18px;
              color: #D4A667;
              cursor: pointer;
            }
          }
          &:hover {
            .action_icons {
              height: 28px;
              display: flex;
              justify-content: space-around;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
