.content {
  display: flex;
  padding: 0 !important;
  flex-direction: row;
  background-color: transparent !important;
  .tabbar {
    background-color: #fff;
    width: 240px;
    margin-right: 10px;
    overflow-y: auto;
    .header {
      .title {
        font-family: PingFangSC-Medium,sans-serif;
        font-size: 16px;
        color: #475372;
        align-items: center;
        justify-content: space-between;
        display: flex;
        padding: 16px;
        border-bottom: 1px solid #e0e4e8;
        :global {
          .anticon {
            cursor: pointer;
          }
        }
      }
    }
    .body {
      padding: 0px;
      .name {
        font-family: PingFangSC-Medium,sans-serif;
        font-size: 14px;
        color: #666666;
        border-bottom: 1px solid #e0e4e8;
        padding: 14px 0px;
        margin: 0px 25px;
        cursor: pointer;
      }
      :global {
        .ant-menu-inline,
        .ant-menu-vertical {
          border-right: 0px;
        }
        .ant-tree {
          position: relative;
          padding: 0;
          min-height: 500px;
          font-family: PingFangSC-Regular,sans-serif;
          font-size: 14px;
          li {
            position: relative;
            padding: 0;
            .ant-tree-title {
              color: #666;
              .tree_icon {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .tree_menu {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  line-height: 50px;
                }
                .tree_icon_icons {
                  display: none;
                  padding-right: 28px;
                  
                  align-items: center;
                  justify-content: center;
                  height: 49px;
                  line-height: 49px;
                  .anticon {
                    font-size: 18px;
                    color: #D4A667;
                    width: 18px;
                    &:last-child {
                      margin-left:26px;
                    }
                  }
                }
              }
            }
            .ant-tree-switcher {
              line-height: 49px;
              height: 49px;
              &:after {
                position: absolute;
                z-index: 1;
                left: 6px;
              }
              &:hover + .ant-tree-node-content-wrapper {
                background: rgba(242, 212, 170, .2);
              }
            }
            &.active {
              .ant-tree-node-content-wrapper {
                background: rgba(242, 212, 170, .2);
              }
            }
            .ant-tree-node-content-wrapper {
              display: block;
              width: 100%;
              position: absolute;
              top: 14px;
              left: 25px;
              padding: 0px;
              line-height: 49px;
              left: 0px;
              text-indent: 16px;
              top: 0;
              &:hover {
                background: rgba(242, 212, 170, .2);
                .tree_icon_icons {
                  display: inline-flex;
                }
              }
              &.ant-tree-node-selected {
                background-color: transparent;
                &:hover {
                  background: rgba(242, 212, 170, .2);
                }
              }
            }
            .ant-tree-child-tree {
              .ant-tree-switcher {
                margin-left: 18px;
                position: relative;
              }
              padding-left: 0px;
              li {
                padding-left: 0px;
                ul {
                  border-top: 1px solid rgba(224, 228, 232, .3);
                }
              }
              .ant-tree-node-content-wrapper {
                padding-left: 18px;
              }
            }
            ul {
              border-top: 1px solid rgba(224, 228, 232, 1);
              li {
                border-bottom: 1px solid rgba(224, 228, 232, .3);
                &:last-child {
                  border-bottom: 0px;
                  padding-bottom: 0px;
                }
              }
            }
          }
        }
      }
    }
  }
  .tab_content {
    background-color: #fff;
    overflow: hidden;
    flex: 1;
    :global {
      .ant-tabs.ant-tabs-card {
        > .ant-tabs-bar {
          .ant-tabs-extra-content {
            margin-right: 20px;
            line-height: 62px;
            .ant-btn {
              width: 100px;
              height: 40px;
              line-height: 22px;
              color: #f2d5aa;
              background-color: #465174;
              border: none;
              border-radius: 2px;
              font-size: 16px;
            }
          }
          .ant-tabs-nav-container {
            height: 57px;
          }
          .ant-tabs-tab:first {
            border-left: none;
          }
          .ant-tabs-tab {
            margin-right: 0px;
            font-family: PingFangSC-Medium,sans-serif;
            font-size: 18px;
            color: #999999;
            border-top: 3px solid transparent;
            padding: 12px 27px ;
            border-left: 0px;
            border-right: 0px;
            border-radius: 0px;
            background-color: #fff;
            &:first-child {
              border-left: none;
            }
            &.ant-tabs-tab-active {
              padding: 14px 27px 13px;
              border-top-color: #f2d4aa;
              color: #475372;
              border-left: 1px solid #e0e4e8;
              border-right: 1px solid #e0e4e8;
              &:first(1) {
                border-left: none;
              }
            }
          }
        }
      }
    }
  }
}
