.product_detail {
    display: flex;
    justify-content: center;
   :global {
    .anticon-check-circle-o {
      font-size: 34px;
      color: #3DBD7D;
      margin-right: 16px;
      position: absolute;
      left: -50px;
    }
    
  }
  .result{
      margin-top: 100px;
      margin-bottom: 100px;
      text-align: left;
      position: relative;
      .title {
        margin-bottom: 47px;
        text-align: left;
      p {
        &:first-child {
          font-family: PingFangSC-Regular,sans-serif;
          font-size: 24px;
          color: rgba(0, 0, 0, 0.75);
          letter-spacing: 0;
          line-height: 21px;
          margin-bottom: 11px;
        }
        &:last-child {
          font-family: PingFangSC-Regular,sans-serif;
          font-size: 16px;
          color: rgba(0, 0, 0, 0.65);
          letter-spacing: 0;
          line-height: 18px;
        }
      }
    }
  }
}
