:global {
  .ant-confirm-body {
    padding: 20px;
    > .anticon {
      color: #d4a667;
    }
    .ant-confirm-content {
      .company {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
