.body {
  padding: 40px 34px;
  .case {
    margin-bottom: 66px;
    .header {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #666666;
    }
    .download {
      margin-bottom: 13px;
      // margin-left: 30px;
      margin-top: 10px;
      display: flex;
      align-items: center;
      img{
          width: 14px;
          margin-right: 8px;
      }
      a {
        font-family: PingFangSC-Medium;
        font-size: 14px;
        // color: #D4A667;
      }
    }
    .tips {
      padding: 10px 15px 16px;
      background: rgba(224, 228, 232, .2);
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #666666;
      line-height: 21px;
    }
  }
  .import_form {
    .header {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #666666;
    }
    .import {
       :global {
        .ant-upload {
          margin-top: 15px;
          margin-bottom: 18px;
          &.ant-upload-select {
            display: block;
            .ant-btn {
              border: 1px solid #E0E4E8;
              border-radius: 2px;
              width: 140px;
              display: block;
              height: 40px;
              line-height: 40px;
              font-family: PingFangSC-Regular;
              font-size: 14px;
              color: #999999;
              &:hover,
              &:focus {
                border-color: rgba(242, 212, 170, 0.75) !important;
                box-shadow: 0 0 0 2px rgba(242, 212, 170, .2) !important;
                color: rgba(242, 212, 170, 1) !important;
              }
            }
          }
        }
      }
      .file {
        width: auto;
        padding: 0px 12px;
        margin-bottom: 18px;
        height: 40px;
        background: #F7F7F7;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .name {
          font-family: PingFangSC-Regular;
          font-size: 14px;
          color: #666666;
        }
        .del {
          font-family: PingFangSC-Regular;
          font-size: 14px;
          color: #D4A667;
          cursor: pointer;
        }
      }
    }
    .tip{
        // margin-left: 30px;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #999999;
        a{
            font-family: PingFangSC-Regular;
            font-size: 12px;
        }
        :global{
          .red{
            color: #D4A667;
          }
        }
    }
  }
}
