<div id="app">{{{content}}}</div>
<script>
  window.APP_STATE = {{{ data } }};

</script>
<script type="text/javascript" src="/assets/js/vendor.fed3fb04.min.js"></script>
<script type="text/javascript" src="/assets/js/app.169e0ae6.min.js"></script>
