.modal {
    :global {
      .ant-modal-body {
        overflow: auto;
        padding: 35px 40px;
        .ant-calendar-picker {
          width: 100%;
        }
        .ant-input-number-lg {
          width: 92%;
          .ant-input-number-input {
            height: 36px;
          }
        }
      }
    }
  }
  
  :global {
    .ant-confirm-confirm .ant-confirm-body > .anticon-check-circle {
      color: #00a854;
    }
  }
  